grant {
    permission java.util.PropertyPermission "*", "read,write";
    permission java.net.SocketPermission "*", "accept,connect,listen,resolve";
    permission java.io.FilePermission "<<ALL FILES>>", "read,write,delete,execute";
    permission java.lang.reflect.ReflectPermission "*";
    permission java.lang.RuntimePermission "*";
    permission javax.management.MBeanServerPermission "*";
    permission javax.management.MBeanPermission "*", "*";
    permission javax.management.MBeanTrustPermission "*";
    permission javax.security.auth.AuthPermission "*";
    permission java.security.SecurityPermission "*";
    permission java.io.SerializablePermission "*";
    permission java.net.NetPermission "*";
    permission com.faendir.om.dsl.ClassLoadingPermission "*";
};
